*{
  font-family: 'Jost', sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  
}


.dancing-curls{
  font-family: 'Dancing Script', cursive;
}

.alignCentre{
  text-align: center;
}

.fnt-description{
  font-weight: 400;
  font-size: 2rem;
}

 
.fnt-heading{
  font-size: 3rem;
}

.img-control{
  border-radius:20px;
  /* height:60rem;
  width:100%; */
}